@import "tailwindcss";

:root {
  --background: #F6F6F7;
  --foreground: #171717;
  --aorange: #ff7101;
  --dark-gray: #151515;
  --light-gray: #575757;
  --light-green: #17b26a;
  --light-red: #f04438;
  --ared: #d92d20;
  --agreen: #079455;
  --apurple: #7644c3;
  --ayellow: #fdb022;
  --abrown: #8c3e01;
  --apink: #d5829c;
  --alemon: #7ed321;
  --agray: #A5A5A5;
  --agray-border: #D7D7D7;
  --alight-gray-border: #EDEDED;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-inter: var(--font-inter), sans-serif;
  --font-instrument-sans: var(--font-instrument-sans), sans-serif;

  --color-aorange: var(--aorange);
  --color-dark-gray: var(--dark-gray);
  --color-light-gray: var(--light-gray);
  --color-light-green: var(--light-green);
  --color-light-red: var(--light-red);
  --color-ared: var(--ared);
  --color-agreen: var(--agreen);
  --color-apurple: var(--apurple);
  --color-ayellow: var(--ayellow);
  --color-abrown: var(--abrown);
  --color-apink: var(--apink);
  --color-alemon: var(--alemon);
  --color-agray: var(--agray);
  --color-agray-border: var(--agray-border);
  --color-alight-gray-border: var(--alight-gray-border);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

select {
  /* Removes default browser styling (crucial for borders to work consistently) */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Custom Border Configuration */
  border: 1px solid var(--agray-border);
  border-radius: 8px;
  
  /* Required Presentation Padding */
  padding: 10px 50px 10px 15px; 
  background-color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}
select[id="order-cal"]{
  padding: 10px 30px 10px 35px; 

}
select:focus {
  outline: none;
  box-shadow: 1px 1px 10px #cecece;
}

th,td{
  padding-left: 2px;
  padding-right: 2px;
}
th{
  vertical-align: baseline;
}


@media (min-width: 1020px) and (max-width: 1030px) {
  select {
  padding: 10px 35px 10px 10px; 

  }
  select[id="order-cal"]{
  padding: 10px 30px 10px 30px; 

}
}